* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input,
button{
 margin: 10px 0;
 padding: 8px 14px;
}

ul{
  list-style-type: none;
  padding: 10px;
}

i{
  color: red;
  cursor: pointer;
  margin-right: 10px;
}
